<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <div id="card-band">
      <h2><%= nombre %></h2>
      <img src="/<%= cover %>" alt="Imagen de la <%= nombre %>" width="640" height="360">
      
      <p>Integrantes: <%= integrantes %></p>
      <p>Genero: <%= genero %></p>
      
      <section id="section-songs">
        <h3>Top Canciones:</h3>
        <ul>
          <% for(i=0; i < topCanciones.length; i++) { %>
            <li>"<%= topCanciones[i] %>"</li>
          <% } %>
        </ul>
      </section>

      <iframe 
        src="<%= video %>" 
        width="640" 
        height="360" 
        frameborder="0" 
        allow="autoplay; encrypted-media" 
        allowfullscreen>
      </iframe>
    </div>
    
    <a href="/bands/" class="btn-back">Volver Atras</a>
    <a href="/" class="btn-back">Volver Home</a>

    <%- include('./partials/footer') %>
  </body>
</html>