<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <div class="main-container">
		<%- include('./partials/header') %>

		<div class="space">
			<h2>Mostrar listado de las bandas</h2>
			
			<ul class="list-group">
				<% bandas.forEach( (b) => { %>
				<li class="list-group-item"> <a href="/bands/id/<%= b.id %>"><%= b.nombre %></a> </li>
			<% }) %>
			</ul>
		</div>
		<a href="/" class="buttons">Volver Atras</a>

		<%- include('./partials/footer') %>
    </div>
  </body>
</html>
