<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <h2>Mostrar listado de las bandas</h2>
    
    <ul>
      <% bandas.forEach( (b) => { %>
      <li> <a href="/bands/id/<%= b.id %>"><%= b.nombre %></a> </li>
      <% }) %>
    </ul>

    <a href="/" class="btn-back">Volver Atras</a>

    <%- include('./partials/footer') %>
  </body>
</html>