<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <h2>Bandas del Genero: <%= genero %></h2>
    
    <ul>
      <% bandas.forEach( (b) => { %>
      <li><a href="/bands/id/<%= b.id %>"><%= b.nombre %></a> </li>
      <% }) %>
    </ul>

    <a href="/genres/" class="btn-back">Volver Atras</a>
    <a href="/" class="btn-back">Volver Home</a>

    <%- include('./partials/footer') %>
  </body>
</html>