<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <h2>Bandas del Genero: <%= genero %></h2>
    
    <ul>
      <% bandas.forEach( (b) => { %>
      <li><%= b.nombre %></li>
      <% }) %>
    </ul>

    <a href="/">Volver Atras</a>

    <%- include('./partials/footer') %>
  </body>
</html>