<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <h2>Mostrar listado de generos musicales</h2>
    
    <ul>
      <% for (i=0; i < generosMusicales.length; i++) { %>
      <li> <a href="/genres/<%= generosMusicales[i] %>"><%= generosMusicales[i]  %></a> </li> 
      <% } %>
    </ul>

    <a href="/" class="btn-back">Volver Atras</a>

    <%- include('./partials/footer') %>
  </body>
</html>