<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <div class="main-container">
		<%- include('./partials/header') %>

		<div class="space">

			<h2>Mostrar listado de generos musicales</h2>
			
			<ul class="list-group">
				<% for (i=0; i < generosMusicales.length; i++) { %>
					<li class="list-group-item"> <a href="/genres/<%= generosMusicales[i] %>"><%= generosMusicales[i]  %></a> </li> 
				<% } %>
			</ul>

		</div>
		<a href="/" class="buttons">Volver Atras</a>
		
		<%- include('./partials/footer') %>
    </div>
  </body>
</html>